<%-include('partials/header.ejs')%>
<body class="h-full">
    <% if (locals.user) { %>
        <div class="flex flex-col min-h-full">
            <div class="px-3 py-2 flex justify-between items-center bg-[#F8FAFD] border-b-1 border-gray-100">
                <p class="text-lg font-semibold text-gray-600">Welcome back, <%= user.username %> </p>
                <div>
                    <a href="/user/logout" class=" bg-blue-400 px-2 py-1.5 rounded-sm text-white text-md font-semibold">Log out</a>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row h-full flex-1">
                <div class="px-3 py-6 bg-[#F8FAFD] sm:w-xs">
                    <div class="sm:mt-10">
                        <button class="outline-2 bg-[#C2E7FF] outline-blue-300 w-4/5 py-1 px-1 rounded-2xl hover:bg-blue-100 text-sm/5 " id="new-file" onclick="OpenNewFileDialog()">New File</button>
                    <%- include ("dialog/newFile.ejs") %>  
                    </div>
                    <div class="sm:mt-4">
                        <button class="outline-2 bg-[#C2E7FF] outline-blue-300 w-4/5 py-1 px-1 rounded-2xl hover:bg-blue-100 text-sm/5 " id="new-file" onclick="OpenNewFolderDialog()">New Folder</button>
                    <%- include ("dialog/newFolder.ejs") %>  
                    </div>
                </div>
                <div class="flex-1 p-4">
                    <div>
                        <h2 class="text-2xl font-bold text-gray-600 ">Folders</h2>
                    </div>
                <table class="w-full table-fixed border-separate border-spacing-2">
                    <thead class="w-full">
                        <tr>
                            <th class="w-3/5 text-left p-2">Name</th>
                            <th class="w-1/5 text-left p-2">Created At</th>
                            <th class="w-1/5 text-left p-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.folders.forEach(item => { %>
                            <tr class="outline-1 mt-2 mb-2">
                                <td>
                                    <a href="/user/folder/<%= item.id %>">
                                        <i class="fa-solid fa-folder"></i>
                                        <%= item.name %>
                                    </a>
                                </td>
                                <td>
                                    <%= new Date(item.createdAt).toLocaleDateString("en-GB", {
                                        day: "2-digit",
                                        month: "short",
                                        year:"numeric"
                                    })
                                    %>
                                </td>
                                <td>
                                    <button type="button" class="editButton" data-id="<%= item.id %>">Edit</button>
                                    <%- include("dialog/editModal.ejs", { id: item.id }) %>
                                    <form method="POST" action="/user/deleteFolder/<%= item.id %>" style="display:inline;">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="mt-5">
                    <h2 class="text-2xl font-bold text-gray-600 ">Files</h2>
                </div>
                <table class="w-full table-fixed">
                    <thead  class="w-full">
                        <tr>
                            <th class="w-3/5 text-left p-2">Name</th>
                            <th class="w-1/5 text-left p-2">Created At</th>
                            <th class="w-1/5 text-left p-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.files.forEach(item => { %>
                            <tr>
                                <td>
                                    <a href="/user/<%=item.id%>">
                                        <i class="fa-solid fa-file"></i>
                                        <span><%= item.name %> </span>
                                    </a>
                                </td>
                                <td>
                                    <%= new Date(item.uploadedAt).toLocaleDateString("en-GB", {
                                        day: "2-digit",
                                        month: "short",
                                        year:"numeric"
                                    })
                                    %>
                                </td>
                                <td>
                                    <form method="POST" action="/user/deleteFile/<%=item.id%>">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                    </table>
            </div>
                </div>
        </div>
<!-- ----------------------------------------- -->
    <% } %>
</body>
<script>
    // Edit Folder name Dialog
      function openDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "flex";
        } else {
            console.error("error finding dialog");
        }
    }

    function closeDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "none";
        } else {
            console.error("error finding dialog");
        }
    }

    // Upload new File Dialog //

    function OpenNewFileDialog() {
        const fileDialog = document.getElementById("New-file-dialog");
        fileDialog.style.display = "flex";
    }

    function closeNewFileDialog() {
        const fileDialog = document.getElementById("New-file-dialog");
        fileDialog.style.display = "none";
    }

    //Create new Folder dialog
    function OpenNewFolderDialog() {
        const fileDialog = document.getElementById("New-folder-dialog");
        fileDialog.style.display = "flex";
    }

    function closeNewFolderDialog() {
        const fileDialog = document.getElementById("New-folder-dialog");
        fileDialog.style.display = "none";
    }


    //
    document.addEventListener("DOMContentLoaded", () => {
        const editButtons = document.querySelectorAll(".editButton");
        editButtons.forEach(button => {
            const id = button.getAttribute('data-id');
            button.addEventListener("click", () => {
                openDialog(id);
            })
        })
    } )
</script>
</html>