<%-include('partials/header.ejs')%>
<body>
    <% if (locals.user) { %>
        <p>Welcome back, <%= user.username %> </p>
        <a href="/user/logout">Log Out</a>
        <div class="file-upload">
            <form action="/user/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                  <input type="file" class="form-control-file" name="uploaded_file">
                  <input type="submit" value="Upload File" class="btn btn-default">
                </div>
              </form>
        </div>
        <div class="folder-create-div">
            <form action="/user/createFolder" method="POST">
                <input type="text" id="folderName" name="folderName" placeholder="Enter folder name" required>
                <button class="new-folder">Create Folder</button>
            </form>
        </div>
        <h4>Folders:</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% user.folders.forEach(item => { %>
                    <tr>
                        <td>
                            <a href="/user/folder/<%= item.id %>">
                                <i class="fa-solid fa-folder"></i>
                                <%= item.name %>
                            </a>
                        </td>
                        <td>
                            <%= new Date(item.createdAt).toLocaleDateString("en-GB", {
                                day: "2-digit",
                                month: "short",
                                year:"numeric"
                            })
                            %>
                        </td>
                        <td>
                            <button type="button" class="editButton" data-id="<%= item.id %>">Edit</button>
                            <%- include("partials/editModal.ejs", { id: item.id }) %>
                            <form method="POST" action="/user/deleteFolder/<%= item.id %>" style="display:inline;">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
                </table>
<!--  -->
        <h4>Files:</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% user.files.forEach(item => { %>
                    <tr>
                        <td>
                            <a href="/user/<%=item.id%>">
                                <i class="fa-solid fa-file"></i>
                                <span><%= item.name %> </span>
                            </a>
                        </td>
                        <td>
                            <%= new Date(item.uploadedAt).toLocaleDateString("en-GB", {
                                day: "2-digit",
                                month: "short",
                                year:"numeric"
                            })
                            %>
                        </td>
                        <td>
                            <form method="POST" action="/user/deleteFile/<%=item.id%>">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
                </table>
<!-- ----------------------------------------- -->
    <% } %>
</body>
<script>
      function openDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "flex";
        } else {
            console.error("error finding dialog");
        }
    }

    function closeDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "none";
        } else {
            console.error("error finding dialog");
        }
    }
    document.addEventListener("DOMContentLoaded", () => {
        const editButtons = document.querySelectorAll(".editButton");
        editButtons.forEach(button => {
            const id = button.getAttribute('data-id');
            button.addEventListener("click", () => {
                openDialog(id);
            })
        })
    } )
</script>
</html>