<%-include('partials/header.ejs')%>
<body class="h-full">
    <% if (locals.user) { %>
        <div class="flex flex-col min-h-full">
            <div class="px-3 py-4 flex justify-between items-center bg-[#F8FAFD] border-b-1 border-gray-100">
                <p class="text-lg font-semibold text-gray-600">Welcome back, <%= locals.user.username %> </p>
                <div>
                    <a href="/user/logout" class=" bg-blue-400 px-2 py-1.5 rounded-sm text-white text-md font-semibold">Log out</a>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row h-full flex-1">
                <div class="px-3 py-6 bg-[#F8FAFD] sm:w-3xs">
                    <div class="sm:mt-10">
                        <button class=" bg-[#C2E7FF]  w-full py-3 px-1 rounded-2xl hover:bg-blue-100 text-sm/5 " id="new-file" onclick="OpenNewFileDialog()">
                            <i class="fa-solid fa-file-export"></i>
                            New File</button>
                    <%- include ("dialog/newFile.ejs") %>  
                    </div>
                    <div class="sm:mt-4">
                        <button class="bg-[#C2E7FF] w-full py-3 px-1 rounded-2xl hover:bg-blue-100 text-sm/5 " id="new-file" onclick="OpenNewFolderDialog()">
                            <i class="fa-solid fa-folder-plus"></i>
                            New Folder</button>
                    <%- include ("dialog/newFolder.ejs") %>  
                    </div>
                </div>
                <div class="flex-1 p-4 w-full">
                    <div>
                        <h2 class="text-2xl font-bold text-gray-600 ">Folders</h2>
                    </div>
                    <div class="mt-10">
                        <div class="mt-5 grid grid-cols-[3fr_1fr_1fr] text-sm/6 font-semibold">
                            <div>Name</div>
                            <div>Created At</div>
                            <div>Actions</div>
                    </div>
                        <% user.folders.forEach(item => { %>
                            <div class="mt-3 grid grid-cols-[3fr_1fr_1fr] text-md/6 font-semibold text-gray-600">
                                    <a href="/user/folder/<%= item.id %>">
                                        <div>
                                            <i class="fa-solid fa-folder"></i>
                                            <%= item.name %>
                                        </div>
                                        
                                    </a>
                                    <div> <%= new Date(item.createdAt).toLocaleDateString("en-GB", {
                                        day: "2-digit",
                                        month: "short",
                                        year:"numeric"
                                    })
                                    %>
                                    </div>
                                    <div class="relative inline-block text-left">
                                        <div>
                                            <button type="button" data-id="<%=item.id%>" class="menu-button inline-flex justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" aria-expanded="true" aria-haspopup="true">
                                              ...
                                              <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                              </svg>
                                            </button>
                                          </div>
                                    <div class="absolute hidden left-0 z-10 mt-2 origin-top-right rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden overflow:hidden " role="menu" id="menu-content-<%=item.id%>" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                        <div class="py-1" role="none">
                                            <button type="button" class="editButton w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3" data-id="<%= item.id %>">Edit</button>
                                            <%- include("dialog/editModal.ejs", { id: item.id }) %>
                                            <form method="POST" action="/user/deleteFolder/<%= item.id %>" style="display:inline;">
                                                <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1">Delete</button>
                                            </form>
                                        </div>
                                      </div>
                                   </div>
                                </div>
                        <% }); %>
                    </div>
               
                <div class="mt-5">
                    <h2 class="text-2xl font-bold text-gray-600">Files</h2>
                <div class="mt-5 grid grid-cols-[3fr_1fr_1fr] text-sm/6 font-semibold">
                    <div>Name</div>
                    <div>Created At</div>
                    <div>Actions</div>
                </div>
                        <% user.files.forEach(item => { %>
                            <div class="mt-3 grid grid-cols-[3fr_1fr_1fr] text-md/6 font-semibold text-gray-600">
                                <a href="/user/<%=item.id%>">
                                    <div>
                                        <i class="fa-solid fa-file"></i>
                                        <span><%= item.name %> </span>
                                    </div>
                                    </a>
                            <div> <%= new Date(item.uploadedAt).toLocaleDateString("en-GB", {
                                day: "2-digit",
                                month: "short",
                                year:"numeric"
                            })
                            %></div>
                            <div class="relative inline-block text-left">
                                <div>
                                    <button type="button" data-id="<%=item.id%>" class="menu-button inline-flex justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50" aria-expanded="true" aria-haspopup="true">
                                      ...
                                      <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                      </svg>
                                    </button>
                                  </div>
                                  <div class="absolute hidden left-0 z-10 mt-2 origin-top-right rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden overflow:hidden " role="menu" id="menu-content-<%=item.id%>" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                    <div class="py-1" role="none">
                                      <form method="POST" action="/user/deleteFile/<%=item.id%>">
                                        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3">Delete</button>
                                      </form>
                                      <form method="GET" action="/user/download/<%=item.id%>">
                                        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" >Download</button>
                                    </form>
                                    </div>
                                  </div>
                            </div>
                            </div>
                        <% }); %>
        </div>
    </div>
    </div>
    <% } %>
</body>
<script>
    // Edit Folder name Dialog
      function openDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "flex";
        } else {
            console.error("error finding dialog");
        }
    }

    function closeDialog(id) {
        const dialog = document.getElementById(`editDialog-${id}`);
        if (dialog) {
            dialog.style.display = "none";
        } else {
            console.error("error finding dialog");
        }
    }

    // Upload new File Dialog //

    function OpenNewFileDialog() {
        const fileDialog = document.getElementById("New-file-dialog");
        fileDialog.style.display = "flex";
    }

    function closeNewFileDialog() {
        const fileDialog = document.getElementById("New-file-dialog");
        fileDialog.style.display = "none";
    }

    //Create new Folder dialog
    function OpenNewFolderDialog() {
        const fileDialog = document.getElementById("New-folder-dialog");
        fileDialog.style.display = "flex";
    }

    function closeNewFolderDialog() {
        const fileDialog = document.getElementById("New-folder-dialog");
        fileDialog.style.display = "none";
    }

    //Open Action Menu//
    function openActionMenu(id) {
      const actionMenu = document.getElementById(`menu-content-${id}`);
      actionMenu.classList.toggle("hidden");
    }
    //
    document.addEventListener("DOMContentLoaded", () => {
        const editButtons = document.querySelectorAll(".editButton");
        editButtons.forEach(button => {
            const id = button.getAttribute('data-id');
            button.addEventListener("click", () => {
                openDialog(id);
            });
        });
        //ACTION MENU
        const Menubuttons = document.querySelectorAll(".menu-button");
        Menubuttons.forEach(button => {
        button.addEventListener("click", () => {
            const menu = document.getElementById(`menu-content-${button.dataset.id}`);
            menu.classList.toggle("hidden");
            document.addEventListener("click", (e) => {
            if (!button.contains(e.target) && !menu.contains(e.target)) {
                menu.classList.add("hidden");
            }
            })
        });
        })
        //
    })
</script>
</html>