<%-include('partials/header.ejs')%>
<body>
    <% if (locals.user) { %>
        <p>Welcome back, <%= user.username %> </p>
        <a href="/user/logout">Log Out</a>
        <div class="file-upload">
            <form action="/user/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                  <input type="file" class="form-control-file" name="uploaded_file">
                  <input type="submit" value="Upload File" class="btn btn-default">
                </div>
              </form>
        </div>
        <div class="folder-create-div">
            <form action="/user/createFolder" method="POST">
                <input type="text" id="folderName" name="folderName" placeholder="Enter folder name" required>
                <button class="new-folder">Create Folder</button>
            </form>
        </div>
        <!-- render user folder -->
        <div class="folder-ctn"></div>
            <% user.folders.forEach(item => { %>
                <div class="folder">
                    <a href="/user/folder/<%=item.id%>">
                        <i class="fa-solid fa-folder"></i>
                        <span><%= item.name %> </span>
                    </a>
                    <button type="submit" id="editDialog" onclick="openDialog()">Edit</button>
                    <%-include("partials/editModal.ejs", {id: item.id})%>
                    <form method="POST" action="/user/deleteFolder/<%=item.id%>">
                    <button type="submit">Delete</button>
                    </form>
                </div>
            <% }); %>

        <!-- render user file -->

        <div class="file-ctn"></div>
             <% user.files.forEach(item => { %>
                <a href="/user/<%=item.id%>">
                <div class="files">
                    <i class="fa-solid fa-file"></i>
                    <span><%= item.name %> </span>
                    <form method="POST" action="user/deleteFile/<%item.id%>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                </a>
        <% }); %>
    <% } %>
</body>
<script>
      function openDialog() {
        document.getElementById("editDialog").showModal();
    }

    function closeDialog() {
        document.getElementById("editDialog").close();
    }
</script>
</html>